.kaisei-opti-regular {
  font-family: "Kaisei Opti", serif;
  font-weight: 400;
  font-style: normal;
}

.kaisei-opti-medium {
  font-family: "Kaisei Opti", serif;
  font-weight: 500;
  font-style: normal;
}

.kaisei-opti-bold {
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
}

section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hello {
    background-image: url(../images/無題141_20240914203457.png);
    text-align: center;
    padding-top: 10vh;
}

.c {
    text-align: center;
}

.title {
    text-size: 50px;
}

.japan-g {
    background-image: url(../images/1643265730-2021_12-03.jpg);
    text-align: center;
    padding-top: 10vh;
}

    p {
        font-size: 20px;
    }
    h3 {
      font-size: 30px;
    }
    h2 {
      font-size: 40px;
    }
    h1 {
      font-size: 60px;
    }

@media screen and (min-width: 481px)　{
    p {
      font-size: 40px;
    }
    h3 {
      font-size: 60px;
    }
    h2 {
      font-size: 70px;
    }
    h1 {
      font-size: 80px;
    }
}